
/* ===[ MAIN.JSX ]======================================= */

body{
    background-color: aquamarine;
    text-align: center;
    padding: 30px 100px;
}

.MainContainer{
    background-color: rgba(254, 254, 254, 0.782);
    border: 7px solid white;
    padding: 15px 50px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px; 
}

.menu1{
    display: flex;
    justify-content: center;
}

.menuButton{
    margin: 2px;
    padding: 3px 6px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px; 
    background-color: rgba(173, 146, 247, 0.775);
}

.menuButton:hover{
    background-color: rgba(170, 252, 180, 0.823);
}